@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Manjari', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

a{
    color: #1D1D1B;
}

a:hover{
    color: #1D1D1B;
}

.bgWhite{
    background-color: #FFFFFF;
}

.bgBlack{
    background-color: #1D1D1B;
}

.bgVainilla{
    background-color: #FFF0D1;
}

.bgOrange{
    background-color: #EB742B;
}

.btnStrongOrange{
    display: inline-flex;
    align-content: center;
    border-radius: 3px;
    background-color: #EB4800;
    color: #FFFFFF;
    transition: all .2s ease;
    padding: 0.5em 1.4em 0.2em;
}

.btnStrongOrange:hover{
    background-color: #EB742B;
    text-decoration: none;
    transition: all .2s ease;
    color: #FFFFFF;
}

.manjari{
    font-family: 'Manjari', sans-serif;
}

.mayuscula{
    text-transform: uppercase;
}

.bold{
    font-weight: 700;
}

.regular{
    font-weight: 400;
}

.normal{
    font-style: normal;
}

.fontBlack{
    color: #1D1D1B;
}

.fontWhite{
    color: #ffffff;
}

.fontOrange{
    color: #EB742B;
}

.fontStrongOrange{
    color: #EB4800;
}

.fontRed{
    color: #CE1620;
}

.block{
    display: block
}

.flex{
    display: flex;
}

.blockFlex{
    display: block;
}

.none{
    display: none;
}

.iconCloseHide{
    display: none;
}

.iconClose{
    display: block;
}

.marginWidth{
    width: 100%;
    padding: 0 1.875em;
    max-width: 78.5em;
    margin: auto;
}

.center{
    text-align: center
}

figure{
    margin: 0;
}

.sectionFlag{
/*  background-image: url(../img/ilustraciones/21.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;*/
    /*background-color: #1D1D1B;*/
    /*padding: .6em 4.8em .4em;*/
    
    /*color: #ffffff;*/
    /*position: relative*/
}

.contentFlag{
    position: relative;
    background-color: #1D1D1B;
    display: inline-block;
    padding: .2em .2em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 0;
}

.contentFlag::before{
    content: " ";
    background-image: url(../img/ilustraciones/21a.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 100%;
    position: absolute;
    left: -50px;
    top: 0;
}

.contentFlag::after{
    content: " ";
    background-image: url(../img/ilustraciones/21b.svg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
}

/*-Header-*/

header {
    padding-bottom: 1em;
}

header.bgBlack.fontWhite {
    z-index: 9999;
    position: relative;
}

header #logoHeader{
    width: 14em;
    transition: all .5s ease;
}

.logoSmall{
    width: 12em!important;
}

header nav#mainNav {
    padding: 1em 0;
}

header #mainNav #btnMenu{
    width: 25px;
    margin-right: 1.8em;
}

header #mainNav #btnMenu i{
    font-size: 1.5em;
}

nav#secondaryNav{
    display: flex;
    justify-content: center;
    align-content: center;
}

nav#secondaryNav .redes,
nav#secondaryNav form{
    display: flex;
    justify-content: center;
    align-items: center;    
}

nav#secondaryNav .redes{
    margin-right: 1em;
}

nav#secondaryNav form input{
    border: solid 1px rgba(255,255,255,.6);
    background-color: rgba(0,0,0,0);
    padding: .2em;
    width: 10em;
    border-radius: 3px;
}

nav#secondaryNav form button{
    background-color: transparent;
    padding: .5em; 
    margin-left: .3em;
}

nav#secondaryNav form button i{
    font-size: 1.2em;
}

nav#secondaryNav form input::placeholder{
    color:#ffffff;
}

nav#secondaryNav .redes a{
    display: block;
    padding: 0 .4em;
}

nav#secondaryNav i.fab.fontWhite{
    font-size: 1.3em;
}

.followusNav{
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
}

.followusNav>div{
    margin-left: 1em;
    display: flex;
}

.followusNav>div a{
    display: block;
    padding-right: .5em;
}

.followusNav>p{
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.followusNav>div a i{
    font-size: 1.9em;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator>figure{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5em;
}

.separator>figure img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.separator .middles{
    height: 50%;
    border-bottom: 1px solid #1D1D1B;
    flex: 1
}


/*-Menu-*/
.mainNav{
    position: fixed;
    width: 100%;
    bottom: 100%;
    transition: all 1.5s ease;
    z-index: 98;
    min-height: calc(100vh - 7.4em);
   
}

.hideMenu {
    
    bottom: 0;
    transition: all .5s ease;
    position: static;
    
}

.contentListsNav li a{
    color: #1D1D1B;
}

.contentListsNav li h3{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700
}

.blockFlex.contentListsNav{
    width: 100%;
    margin-top: 2.5em;
}




/*-Portal-*/

#portal{
    margin-top: 2em;
}

#portal ul li{
    width: 100%;
    margin-bottom: 3em;
}

#portal ul li:first-child{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5em;
}

#portal ul li:not(:first-of-type) figure{
    height: 12.25em;
}

#portal ul li:not(:first-of-type) span{
    margin: 1em 0;
}

#portal ul li:not(:first-of-type) a>div{
    text-align: center;
}

#portal ul li:not(:first-of-type) a>div{
    text-align: center;
    margin-top: 1.5em
}

#portal ul li:not(:first-of-type) h3{
    font-size: 1.5em;
    text-align: center;
    margin-top: .3em;
}

/*#portal ul li:first-child figure{
    order: 1
}*/

#portal ul li figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#portal ul li:first-child .infoPortal{
    margin-bottom: 3em;
}

#portal ul li:first-child .infoPortal h2{
    font-size: 40px;
    margin-bottom: .7em;
    margin-top: .6em;
}

#portal ul li:first-child .botoneraPortal{
    position: relative;
}

#portal ul li:first-child .botoneraPortal::after{
    content: " ";
    background-image: url(../img/ilustraciones/23.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 57px;
    height: 38px;
    position: absolute;
    top: 0px;
    margin-left: 1em
}

#portal ul li:first-child .contentFlag{
    margin-left: 1.5em
}



/*-Banner-*/
.banner{
    padding: 1em;
    padding-top: 5em;
    padding-bottom: 1.5em;
    position: relative
}

.banner:hover{
    background-color: #ffe6b2
}

.banner:hover .lineBanner h3{
    text-decoration: none
}

.banner .lineBanner{
    
}

.banner .lineBanner figure{
    /*width: 8.5em;*/
    margin: auto;
    position: relative;
    left: 1em;
    margin-bottom: 1em;
    position: absolute;
    top: .5em;
    display: flex;
    justify-content: center;
    width: 100%
}

.banner .titleBanner{
    border: 2px solid #EB742B;
    padding-top: 1em;
}

.banner .lineBanner figure img{
    object-fit: contain;
    width: 8.5em;
}

.banner .lineBanner h3{
    text-align: center;
    margin: 1em 0;
}


.banner{
    margin: 0 0 3.5em 0;
}


/*-Videos-*/
section#videos {
    margin-bottom: 2em;
}

#videos .contentYT{
    display: flex;
    flex-direction: column;
}

#videos .videosList{
    display: flex;
    flex-direction: row!important;
    justify-content: space-between;
}

#videos .videosList>a{
    width: 48%;
}

#videos .videosList>a .videoItem{
    display: flex;
    flex-direction: column;
}

#videos .videosList>a .videoItem figure{
    width: 100%;
}

#videos .videosList>a .videoItem figure img{
    object-fit: cover;
    width: 100%;
}

#videos .videosList>a{
    margin: 0;
    padding: 0;
    border-radius: 0;
    margin-bottom: .5em;
}

#videos .videosList .nav-link.active{
    color: #1D1D1B
}

#videos .videosList>a .videoItem .videoInfo{
    width: 100%;
    padding: .5em;
}

#videos .videosList>a .videoItem .videoInfo h3{
    font-size: 1.25em
}

#videos .videosList>a .videoItem .videoInfo p{
    font-size: .875em;
    display: none
}

#videos .videoDetail{
    
}

.nav-pills .nav-link.active{
    background-color: #FFF0D1;
/*    display: none;*/
}

.videoContenedor{
    position: relative;
    padding-bottom: 56.25%;
    width: 100%; 
    margin-bottom: 1em;
}

.videoContenedor iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.videoDetail>div h3{
    font-size: 2em;
    text-align: center;
}

.videoDetail>div p{
    text-align: center;
}

.videoDetail>div .descriptionVideo{
    padding: .5em 0 2em 0;
}

.videoDetail>div .separator figure{
    height: 4em;
}

.videoDetail>div .separator figure img{
    width: 61%;
}

.contentYT{
    margin-top:2em;
}

.tituloSection{
    display: flex;
    
}

.tituloSection .imageSection{
    width: 30%;
    height: 4.75em;
    max-width: 120px;
}

.tituloSection h2{
    font-size: 32px;
    display: inline-flex
}

.dobleSubrayado{
    border-bottom: #000 1px solid;
    margin-bottom: .5em;
    position: relative;
    flex: 1;
}

.dobleSubrayado::after{
    content: " ";
    width: 100%;
    border-bottom: 2px solid #000;
    position: absolute;
    bottom: -5px;
    left: 0;
}

#videos .tituloSection .imageSection{
    background-image: url(../img/ilustraciones/25.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#videos .tituloSection h2{
    display: flex;
}

#videos .tituloSection h2::after{
    content: " ";
    background-image: url(../img/ilustraciones/18.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: center;
    background-size: contain;
    width: 54px;
    margin-left: .35em;
}

#parrillasDelMes .tituloSection h2::after{
    content: " ";
    background-image: url(../img/ilustraciones/5.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: bottom;
    background-size: contain;
    width: 34px;
    height: 25px;
    margin-left: .35em;
    margin-top: auto;
    display: none
}

#parrillasDelMes .tituloSection .imageSection {
    background-image: url(../img/ilustraciones/2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.doubleComponent{
    display: block;
    margin-top: 6em;
    margin-bottom: 6em;
}

/*-Ranking-*/
#ranking{
    position: relative;  
    max-width: 27.3em;
    margin: auto;
}

#ranking .rankingTitle{
    width: 284px;
    height: 58px;
    background-image: url(../img/ilustraciones/22.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -7%;
    z-index: 1;
    top: -3%;
}

#ranking::before{
    content: " ";
    background-image: url(../img/ilustraciones/1.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: center;
    background-size: contain;
    width: 160px;
    height: 111px;
    z-index: -1;
    position: absolute;
    top: -76px;
    left: 0
}

#ranking .rankingTitle h1{
    font-size: 36px;
}

#ranking .tablaPosiciones{
    padding: 1em;
    margin-top: 2em;
    padding-top: 4em;
    border: 2px solid #1D1D1B;
    outline: 1px solid #1D1D1B;
    outline-offset: -5px;
    position: relative;
    
}

#ranking .tablaPosiciones .sombra{
    height: 100%;
    width: 100%;
    position: absolute;
    top: .7em;
    left: .7em;
    z-index: -2;
}

#ranking .tablaPosiciones ul{
    padding: 0 .5em
}

#ranking .tablaPosiciones ul>a.btnStrongOrange{
    margin-top: 1.5em
}

#ranking .tablaPosiciones ul li{
    margin-bottom: .5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#ranking .tablaPosiciones ul li span{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D1D1B;
    color: #ffffff;
    border-radius: 50%;
    width: 1.7em;
    height: 1.7em;
    margin: 0;
    padding: 0em;
    padding-top: 7px;
    font-size: 1.2em;
    font-weight: 700
}

#ranking .tablaPosiciones ul li a{
    font-size: 1em;
    font-weight: 700;
    display: block;
    margin-left: 1em;
    text-transform: uppercase
}


/*-Destacada-*/
#destacada{
    width: 100%;
    position: relative;
    margin-left: 0;
    margin-top: 0;
}

#destacada>figure{
    height: 100%;
    outline: 2px dotted #ffffff;
    outline-offset: -.5em;
}

#destacada>figure img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

#destacada .destacadaInfo{
    background-color: #1D1D1B;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    padding-top: 5em;
    position: relative;
    opacity: .9;
}

#destacada .destacadaInfo .contentInfoDestacada{
    max-width: 23em;
    margin: auto;
}

#destacada .destacadaInfo .separator{
    margin-bottom: 0em
}

#destacada .destacadaInfo .separator .middles{
    border-bottom: 1px solid #ffffff;
}

#destacada .destacadaInfo .separator>figure{
    width: 53px;
    margin: 0 .7em;
    padding: 0
}

#destacada .destacadaInfo .tagSection{
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
}

#destacada .destacadaInfo h3,
#destacada .destacadaInfo p{
    font-size: .875em;
}

#destacada .destacadaInfo h3{
    margin-bottom: 0;
}

#destacada .destacadaInfo .tagSection img{
    margin: auto
}


/*-Parrillas del mes-*/
#parrillasDelMes .mesListado{
    margin-top: 2em
}

#parrillasDelMes .mesListado ul{
    margin-bottom: 2em;
}

#parrillasDelMes .mesListado ul li{
    padding: .5em 0 1.3em;
    border-top: solid 2px #EB4800;
    margin-bottom: .5em
}

#parrillasDelMes .mesListado ul li>a{
    display: flex;
    flex-direction: column;
}

#parrillasDelMes .mesListado ul li>a figure{
    width: 100%;
    height: 10em;
    overflow: hidden;
}

#parrillasDelMes .mesListado ul li>a figure img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

#parrillasDelMes .mesListado ul li>a figure:hover img{
    width: 110%;
    height: 110%;
    transition: all .3s ease;
}

#parrillasDelMes .mesListado ul li .mesInfo{
    text-align: center;
}

#parrillasDelMes .mesListado ul li .mesInfo h3{
    font-size: 1.5em;
    margin-top: .3em
}

#parrillasDelMes .mesListado ul li .mesInfo div a{
    color: #EB4800;
}



/* ------------------ Mediaquery ------------------ */

/*-Tablet-*/
@media(min-width: 48em){
    
    .hideMenu {
        position: fixed;
    }
    
    .blockFlex{
        display: flex;
    }
    
    .blockFlex.contentListsNav{
        justify-content: space-between;
        margin-top: 4em;
        margin-bottom: 3em;
    }
    
    .contentListsNav li{
        margin-bottom: .5em;
    }
    
    .contentListsNav h3{
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 700
    }
    
    .contentListsNav li a{
        font-size: 1.1em;
        color: #1D1D1B;
    }
    
    .worldPlaces{
        margin-top: 2em;
    }
    
    .headerBox.marginWidth.blockFlex {
        justify-content: space-between;
    }
    
    header {
        padding-bottom: 0!important;
    }
    
    
    /*-Portal-*/
    #portal ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    
    #portal ul li{
        width: 30%;
    }
    
    #portal ul li:first-child{
        flex-direction: row;
        width: 100%;
        margin-bottom: 5em;
    }
    
    #portal ul li:first-child>div{
        width: 50%;
    }
    
    #portal ul li:first-child figure{
        width: 50%;
        order: 1
    }
    
    #portal ul li:first-child .infoPortal h2{
        font-size: 2.625em;
    }
    
    #portal ul li:first-child .infoPortal{
        padding-right: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #portal ul li:first-child .infoPortal{
        margin-bottom: 0;
    }
    
    
    /*-Banner-*/
    .banner{
        padding:0;
    }
    
    .lineBanner{
        display: flex;
        align-items: center;
    }
    
    .banner .titleBanner{
        padding-top: 0;
        clip-path: polygon(41px 0%, 100% 0%, 100% 100%, 0% 100%);
        margin: .7em;
        /*margin-left: 0;*/
        margin-left: 9em;
        width: 100%;
    }
    
    .banner .lineBanner figure{
        /*position: static;*/
        width: 10em;
        margin: 0;
    }
    
    .banner .lineBanner h3{
        /*margin: .6em 0;*/
        margin: 1.2em 0;
        padding-left: 2em;
        font-size: 25px;
    }
    
    .banner .lineBanner figure img{
        width: 7.5em;
    }
    
    .banner .lineBanner h3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner .lineBanner h3 span.fontStrongOrange{
        margin-left: 7px;
        display: inline
    }
    
    .titleBanner .titleuno .fa-youtube:before{
        margin-right: .3em;
        font-size: 1.5em;
    }
    
    
    
    /*-Videos-*/        
    #videos .videosList>a{
        width: 23.5%;
    }
    
    #videos .videosList>a .videoItem{
        padding: .5em;
        padding-bottom: 0;
    }
    
    #videos .videosList>a .videoItem .videoInfo p{
        display: block;
        margin: 0;
        line-height: 20px;
    }
    
    #followYT .titleBanner h3.titleuno::after{
        content: " ";
        background-image: url(../img/ilustraciones/17.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 53px;
        height: 26px;
        margin-left: .5em;
        top: 0;
        margin-top: .2em;
    }
    
    #followYT .titleBanner h3.titleuno::before{
        content: " ";
        background-image: url(../img/ilustraciones/26.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 44px;
        height: 30px;
        margin-top: .2em;
        margin-right: .5em;
    }
    
    #ranking .tablaPosiciones ul{
        padding: 0 1.5em;
    }
        
    #ranking .rankingTitle{
        left: -2%;
    }
    
    
    /*-Destacada-*/
    #destacada>figure{
        height: 100%;
        outline: 2px dotted #ffffff;
        outline-offset: -1em;
    }
    
    #destacada .destacadaInfo{
        padding-top: 3em
    }
    
    #destacada .destacadaInfo .tagSection{
        top: -58px;
    }
    
    /*-Destacadas del mes-*/
    #parrillasDelMes .tituloSection h2::after{
        display: block;
    }
    
    .tituloSection h2{
        font-size: 40px;
        display: inline-flex
    }
    
    
    /*-Parrillas del mes-*/
    #parrillasDelMes .mesListado ul{
        justify-content: space-between
    }
    
    #parrillasDelMes .mesListado ul li{
        width: 23.7%
    }
}

/*-Laptop-*/
@media(min-width: 62.5em){
    .marginWidth{
        padding: 0 3.4em;
    }
    
    .blockFlex.contentListsNav{
        max-width: 58em;
        margin: auto;
        margin-top: 3.5em;
        margin-bottom: 0em;
    }
    
    nav#secondaryNav i.fab.fontWhite{
        font-size: 1.8em;
    }
    
    nav#secondaryNav form input{
        padding: .45em;
        width: 14.6em;
    }
    
    nav#secondaryNav .redes{
        margin-right: 1.7em;
    }
    
    nav#secondaryNav i.fab.fontWhite{
        margin-right: .3em
    }
    
    
    /*-Portal-*/
    #portal{
        margin-top: 4em;
    }
    
    #portal ul li:first-child>div{
        width: 46%;
    }
    
    #portal ul li:first-child figure{
        width: 54%;
        max-height: 24.25em;
    }
    
    #portal ul li:first-child .infoPortal{
        padding-right: 3.5em;
    }
    
    
    /*-Banner-*/
    .banner .lineBanner h3{
        font-size: 27px;
    }
    
    .banner .lineBanner h3{
        margin: .8em 0;
    }
    
    #bannerAgregar .titleBanner h3.titleuno::after{
        content: " ";
        background-image: url(../img/ilustraciones/19.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 55px;
        height: 24px;
        margin-left: .5em;
        top: 0;
        margin-top: .2em;
    }
    
    #bannerAgregar .titleBanner h3.titleuno::before{
        content: " ";
        background-image: url(../img/ilustraciones/20.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 59px;
        height: 28px;
        margin-top: .2em;
        margin-right: .5em;
    }
    
    
    
    
    /*-Videos-*/
    #videos .contentYT .videosList{
        margin-left: 2em;
        width: 35%;
    }
    
    #videos .contentYT{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    section#videos {
        margin-bottom: 2em;
    }
    
    #videos .contentYT .videoDetail {
        width: 70%
    }
    
    #videos .videosList>a{
        width: 100%;
    }
    
    #videos .videosList>a .videoItem{
        flex-direction: row;
    }
    
    #videos .videosList>a .videoItem figure{
        padding: .5em
    }
    
    
    .tituloSection .imageSection{
        height: 4.5em;
    }
    
    
    /*-Ranking-*/
    #ranking .rankingTitle{
        min-width: 349px;
        height: 69px;
    }
    
    #ranking .rankingTitle h1{
        font-size: 40px;
    }
    
    #ranking .rankingTitle::before{
        content: " ";
        background-image: url(../img/ilustraciones/4.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-top: .2em;
        margin-right: .5em;
    }
    
    #ranking .rankingTitle::after{
        content: " ";
        background-image: url(../img/ilustraciones/4.png);
        background-repeat: no-repeat;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position: center;
        background-size: contain;
        width: 16px;
        height: 16px;
        margin-top: .2em;
        margin-left: .5em;
    }
    
    .doubleComponent{
        display: flex;
        justify-content: space-between;
    }
    
    #ranking{
        width: 40%;
    }
    
    #ranking .tablaPosiciones{
        max-width: 25em;
    }

    #destacada{
        width: 75%;
        position: relative;
        margin-left: 2em;
    }
    
    #destacada figure{
        height: 100%;
    }
    
    #destacada figure img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }
    
    /*#destacada figure img:hover{
        width: 120%;
        height: 120%;
    }*/
    
    #destacada .destacadaInfo{
        position: absolute;
        bottom: 1.7em;
        right: 1.7em;
    }
    
    #destacada .destacadaInfo .separator{
        margin-bottom: 2em
    }
    
    #ranking .rankingTitle{
        top: 0
    }
    
    #ranking .rankingTitle{
        left: -4%;
    }
}

/*-Desktop-*/
@media(min-width: 93.75em){
    .contentListsNav li a{
        font-size: 1.3em;
        color: #1D1D1B;
    }
    
    .blockFlex.contentListsNav{
        margin-top: 4.5em;
    }
    
    .separator>figure{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 2em;
        height: 7em;
    }
    
    .blockFlex.contentListsNav{
        margin-bottom: 1.5em;
    }
    
    .contentListsNav li a{
        font-size: 1.2em;
    }
    
    .contentListsNav li{
        margin-bottom: .8em;
    }
    
    .followusNav{
        margin-top: 3em;
    }
    
    .banner .lineBanner h3{
        font-size: 32px;
    }
    
    .banner:hover h3{
        text-decoration: none;
    }
    
    #ranking .tablaPosiciones ul li{
        margin-bottom: .7em
    }
    
    #ranking .tablaPosiciones ul li span{
        font-size: 1.375em;
    }
    
    #ranking .tablaPosiciones ul>a{
        margin-top: 2em
    }
    
}